/.cloud
/.storage
/tts
/custom_components
/blueprints
/image
/images
/popup
/themes
/themes_old
/www
/ssh
/packages/keymaster

**.DS_Store
**.HA_VERSION
**.pyc
**.conf
**.uuid
**.txt
**.log*
**.db
**.sqlite
**.xml
**secrets*
**known_devices.yaml
**ip_bans.yaml
**zones.yaml
**.homekit*
**.vscode
**.pid
**.ps4*
**webostv.conf
**zwcfg*
**.csr
**.crt
**.key
**core.*
**OZW_Log.txt
**home-assistant.log
**home-assistant_v2.db
**.db-journal
**.db-shm
**.db-wal
**.sqlite
**phue.conf 
**ios.conf
**themes.yaml
**ui-lovelace.yaml
**button_card_templates.yaml
**rtsp*